.topBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
    text-align: center;
}

.topBarHome {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
    text-align: center;
    margin-left: 20px;
}

.topBarHome img, .topBar img {
    height: 55px;
}


.bottomBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    bottom: 0;
    z-index: 100;
    width: 100%;
}


.right {
    display: flex;
    justify-content: end;
    margin-top: 25px;
}

.titleContainer {
    height: 120px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.courseContainer {
    display: flex;
    justify-content: space-between;
    flex-direction:column;
    background-color:#FFCE90;
    width: 335px;
    height: 173px;
    border-radius: 5px;
    margin-top: 10px;
    padding-top: 20px;
    margin-left: 20px;
    box-shadow: 0px 3px 3px #DFDFDF;
}

.courseContainerModules {
    display: flex;
    justify-content: space-between;
    flex-direction:column;
    background-color:#D1D2FF;
    width: 335px;
    border-radius: 5px;
    margin-left: 20px;
    box-shadow: 0px 3px 3px #DFDFDF;
    margin-bottom: 20px;
}

.moduleContainerGreen {
    display: flex;
    justify-content: space-between;
    flex-direction:column;
    background-color:#86E19A;
    width: 335px;
    height: 68px;
    border-radius: 5px;
    margin-left: 20px;
    box-shadow: 0px 3px 3px #DFDFDF;
    margin-bottom: 20px;
    margin-top: 20px;
}

.moduleContainerOrange {
    display: flex;
    justify-content: space-between;
    flex-direction:column;
    background-color:#FFCE90;
    width: 335px;
    height: 68px;
    border-radius: 5px;
    margin-left: 20px;
    box-shadow: 0px 3px 3px #DFDFDF;
    margin-bottom: 20px;
    margin-top: 20px;
}

.moduleContainerBlueNoVector {
    display: flex;
    justify-content: space-between;
    flex-direction:column;
    background-color:#D1D2FF;
    width: 335px;
    height: 84px;
    border-radius: 5px;
    margin-left: 20px;
    box-shadow: 0px 3px 3px #DFDFDF;
    margin-bottom: 20px;
    margin-top: 20px;
}

.moduleContainerGrey {
    display: flex;
    justify-content: space-between;
    flex-direction:column;
    background-color:#CBD5E1;
    width: 335px;
    height: 68px;
    border-radius: 5px;
    margin-left: 20px;
    box-shadow: 0px 3px 3px #DFDFDF;
    margin-bottom: 20px;
    margin-top: 20px;
}

.statusContainerOrange {
    display: flex;
    justify-content: space-between;
    background-color:#FFCE90;
    width: 335px;
    border-radius: 5px;
    margin-left: 20px;
    box-shadow: 0px 3px 3px #DFDFDF;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 15px;
}

.statusContainerGrey {
    display: flex;
    justify-content: space-between;
    background-color:#CBD5E1;
    width: 335px;
    border-radius: 5px;
    margin-left: 20px;
    box-shadow: 0px 3px 3px #DFDFDF;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 15px;
}

.vector {
    margin: 20px;
}

.vector img {
    height: 25px;
    width: 20px;
}

.topBarVector {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.completedPercent {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.completedPercent img {
    height: 160px;
}

.textBox {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: 20px;
    width: 335px;
}

.textBoxContainer {
    display: flex;
    margin: 8px;
    flex-direction: column;
}

.ColorBlind {
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
}

.messageBoxGreen {
    display: flex;
    align-items: center;
    height: 54px;
    width: 335px;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #86E19A;
    padding: 20px;
    justify-content: space-between;
}

.messageBoxGreenIcon {
    display: flex;
    align-items: center;
    height: 54px;
    width: 335px;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: #86E19A;
    padding: 20px;
    justify-content: space-between;
}

.messageBoxYellow {
    display: flex;
    align-items: center;
    height: 54px;
    width: 335px;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: #FCD34D;
    padding: 20px;
    justify-content: space-between;
}

.messageBoxYellowIcon {
    display: flex;
    align-items: center;
    height: 54px;
    width: 335px;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: #FCD34D;
    padding: 20px;
    justify-content: space-between;
}

.messageBoxBlue {
    display: flex;
    align-items: center;
    height: 54px;
    width: 335px;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: #46B4F0;
    padding: 20px;
    justify-content: space-between;
}

.messageBoxBlueIcon {
    display: flex;
    align-items: center;
    height: 54px;
    width: 335px;
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: #46B4F0;
    padding: 20px;
    justify-content: space-between;
}

.messageBoxYellowIcon img {
    height: 30px;
    width: 30px;
}
.messageBoxGreenIcon img {
    height: 30px;
    width: 30px;
}
.messageBoxBlueIcon img {
    height: 30px;
    width: 30px;
}

.icons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}


.goodJob {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.gif img {
    height: 70px;
}

.gif {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gifContainer {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.messageContainer {
    margin-left: 50px;
    margin-top: 40px;
}