* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
.button-primary {
    height: 57px;
    width: fit-content;
    background-color: #D1D2FF;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 6px;
    margin: 10px;

}

.button-primary:hover {
    background-color: #27287E;
    color: #F8FAFC;
    transition-duration: 0.4s;
}

.button-primary:active {
    background-color: #F8FAFC;
    color: #000356;
    transition-duration: 0.4s;
}

.button-secondary {
    height: 57px;
    width: fit-content;
    background-color: #F8FAFC;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
    font-weight: 700;
    border: 2px solid #27287E;
    border-radius: 6px;
    margin: 10px;
}

.button-secondary:hover {
    background-color: #27287E;
    color: #F8FAFC;
    transition-duration: 0.4s;
}

.button-secondary:active {
    background-color: #27287E;
    color: #F8FAFC;
    transition-duration: 0.4s;
}

.buttonContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.form input {
    height: 56px;
    width: 319px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
    border: 1px solid #27287E;
    background-color: #F1F5F9;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    height: 181px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.avatar {
    height: 130px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px;
}

.avatar2 {
    margin-right: 20px;
}

.avatarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.heading2 {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.headingCenter {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    align-items: center;
    text-align: center;
}

.headingVector {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.headingContainer {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
}

.textBoxContainer {
    margin: 20px;
}

.hidden {
    display: none;
}

.card {
    margin: 50px auto 0;
    height: 320px;
    width: 350px;
}

.card__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card__inner.is-flipped {
    transform: rotateY(180deg);
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
}

.card__face--front {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__face--back{
    transform: rotateY(180deg);
}